/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

div {
	width: 25%;
	border-width: 5px;
	border-style: solid;
	padding: 5px;
	margin: 5px;
	position: fixed;
}

#one {
	border-color: orange;
}

#two {
	border-color: yellow;
	top: 200px;
}

#three {
	border-color: green;
	right: 0;
}

#four {
	border-color: blue;
	right: 0;
	top: 200px;
}

#link {
	color: #eee;
	vertical-align: top;
	text-align: center;
	font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans",
		sans-serif;
}
